html,
body {
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

#viewDiv {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  max-height: 100%;
}

#relationshipResults {
  width: 175px;
  padding: 10px;
}

/* #tableDiv {
  resize: both;
  overflow: auto;
} */

#tableDiv {
  /* min-height: 50%; */
  /* width: 100%; */
  /* resize: both; */
  /* overflow: auto; */
}

.resizable {
  width: auto;
  border-radius: 0.75rem;
  /* padding: 20px; */
  /* margin: 1rem; */
  background-color: #29e;
  color: white;
  overflow: hidden;

  touch-action: none;

  /* This makes things *much* easier */
  box-sizing: border-box;
}
